@import '../../theme.scss';
.state {
    display: flex;
    list-style: none;
    max-width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    .list {
        background: $background;
        box-shadow: $boxShadow;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 3rem 1rem;
        border-radius: 4px;
        .item {
            width: 100%;
            display: block;
            clear: both;
            counter-increment: list;
            padding-bottom: 3rem;
            font-size: 1.6rem;
            line-height: 1.375;
            position: relative;
        }

        .item:before {
            content: counter(list);
            width: 5rem;
            height: 5rem;
            float: left;
            margin: 0 1.5rem 0.75rem 0;
            color: white;
            background: $primaryColor;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            shape-outside: ellipse();
            z-index: 1;
        }

        .item:after {
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            background: $primaryColor;
            z-index: -1;
            border-top-left-radius: 3px;
        }

        .headline {
            padding: 0rem 0 0 0;
            margin: 0 0 1rem 0;
            color: $secondaryColor;
            font-weight: bold;
        }
    }
}
