@import '../../theme.scss';
.enhancements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title {
        text-align: center;
        margin: 0 0 0.5em;
        font-size: 2em;
        font-weight: bold;
        color: $primaryColor;
    }
    .list {
        font-size: 1.3em;
        line-height: 1.5em;
        margin: 0;
        .item {
            margin: 1em 0;
            .details {
                list-style: none;
                .bad {
                    &::before {
                        content: '•';
                        padding-right: 8px;
                        font-size: 1.5em;
                        color: red;
                    }
                }
                .good {
                    &::before {
                        content: '•';
                        padding-right: 8px;
                        font-size: 1.5em;
                        color: green;
                    }
                }
            }
        }
    }
}
