@import '../../theme.scss';
@import './onCircle.scss';
.calibration {
    height: 100vh;
    width: 94vw !important;
    position: relative;
    top: 0;
    left: 0;
    flex-direction: row !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    .left {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        box-shadow: $boxShadow;
        padding: 1em;
        box-sizing: border-box;
        border-radius: 4px;
        background: $background;
        border: 0;
        .encoder {
            min-width: 180px;
            min-height: 200px;
            max-width: 180px;
            max-height: 200px;
            border-radius: 50%;
            padding: 1em;
            background: $background;
            border: 1px solid $primaryColorLight;
            transition: all ease 0.2s;
            @include on-circle($item-count: 16, $circle-size: 150px, $item-size: 10px);
        }
        .encoder.active {
            -webkit-animation: rotating 1.5s linear infinite;
            -moz-animation: rotating 1.5s linear infinite;
            -ms-animation: rotating 1.5s linear infinite;
            -o-animation: rotating 1.5s linear infinite;
            animation: rotating 1.5s linear infinite;
        }
        .encoder.active-fast {
            -webkit-animation: rotating 0.4s linear infinite;
            -moz-animation: rotating 0.4s linear infinite;
            -ms-animation: rotating 0.4s linear infinite;
            -o-animation: rotating 0.4s linear infinite;
            animation: rotating 0.4s linear infinite;
        }
        .label {
            font-size: 2em;
            text-align: center;
            margin-bottom: .5em;
        }
        .arrow {
            position: absolute;
            top: 168px;
            left: 50%;
            transform: translate(-50%);
            max-height: 36px;
            transition: ease 0.3s all;
            opacity: 0;
        }
        .arrow.active {
            opacity: 1;
        }
    }
    .center {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .console {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            margin: 2em 0;
            .cpu {
                img {
                    max-width: 100%;
                }
                margin: 0% 0;
            }
            .cpu.active {
                &::after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-color: $secondaryColorLight;
                }
            }
            .wire-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                width: 45%;
                padding-top: 5px;
                .wire {
                    height: 0px;
                    background: $primaryColorLight;
                    height: 4px;
                    width: 94%;
                    margin: 0 0 8px;
                    position: relative;
                    // &::after,
                    // &::before {
                    //     content: '';
                    //     height: 10px;
                    //     width: 10px;
                    //     background: $primaryColor;
                    //     border-radius: 50%;
                    //     position: absolute;
                    // }
                    // &::after {
                    //     right: -6px;
                    //     top: -7px;
                    //     transform: translate(-50%);
                    // }
                    // &::before {
                    //     left: 0;
                    //     top: -7px;
                    //     transform: translate(-50%);
                    // }
                }
            }
        }
        .motor.active {
            filter: grayscale(0);
        }
        .label {
            font-size: 2em;
            text-align: center;
        }
    }
    .right {
        position: relative;
        .chart {
            width: 300px;
            height: 250px;
            padding: 2em 2em 2em 0;
            border-radius: 4px;
            box-shadow: $boxShadow;
            background: $background;
            border: 0;
            .label {
                position: absolute;
                top: 320px;
                left: 50%;
                transform: translate(-50%);
                font-size: 2em;
                transition: ease 0.3s all;
            }
        }

        .label {
            position: absolute;
            top: 64px;
            left: 45%;
            transform: translate(-50%);
            font-size: 2em;
            transition: ease 0.3s all;
        }
    }
    .axis {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &::after {
            content: '';
            border-top: 4px solid $secondaryColor;
            height: 0;
            width: 100%;
            transition: ease 0.3s all;
            filter: grayscale(1);
        }
    }
}

/* Safari and Chrome */
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
