@import '../../theme.scss';
.console {
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    .items {
        max-width: 80px;
        max-height: 80px;
        padding: 3%;
        position: absolute;
        border: 1px dotted $primaryColor;
        border-radius: 50%;
        box-shadow: 0 4px 5px rgba(0,0,0,0.16), 0 3px 4px rgba(0,0,0,0.23);
        .icon {
            width: 100%;
        }
    }
    @for $i from 0 to 6 {
        span.lines:nth-of-type(#{$i + 1}) {
            position: absolute;
            width: 100px;
            height: 2px;
            border: 1px solid $primaryColor;
            transform: rotateZ(360 / 6 * ($i) * 1deg) translateX(200px);
        }
        div.items:nth-of-type(#{$i + 1}) {
            transform: rotateZ(360 / 6 * ($i) * 1deg)
                translateX(380px)
                rotateZ(360 / 6 * $i * (-1deg));
        }
    }
    .main {
        max-width: 80px;
        max-height: 80px;
        width: 100%;
        height: 100%;
        padding: 3%;
        position: absolute;
        border: 1px dotted $primaryColorLight;
        border-radius: 50%;
        box-shadow: 0 4px 5px rgba(0,0,0,0.16), 0 3px 4px rgba(0,0,0,0.23);
        .icon {
            width: 100%;
        }
    }
}
