$animationTime: 0.24s;
$primaryColor: #377771;
$secondaryColor: #7f2b32;
$primaryColorLight: #1d3f3b99;
$secondaryColorLight: #7f2b3266;
$boxShadow: 0 4px 5px rgba(0, 0, 0, 0.16), 0 3px 4px rgba(0, 0, 0, 0.23);
$background: #fafafa55;
